{% extends 'base.html' %}

{% block title %}
Registrar Empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h2 class="cell">Registrar Persona</h2>
        <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="medium-12 large-6 cell">
                <label>Nombres:
                    {{ form.first_name }}
                </label>
              </div>
              <div class="medium-12 large-6 cell">
                <label>Apellidos:
                    {{ form.last_name }}
                </label>
              </div>
              <div class=" medium-12 large-6 cell">
                <label>Trabajo:
                    {{ form.job }}
                </label>
              </div>
              <div class=" medium-12 large-6 cell">
                <label>Departamento:
                    {{ form.departamento }}
                </label>
              </div>
              <div class="medium-12 large-6 cell">
                <label>Habilidades:
                    {{ form.habilidades }}
                </label>
              </div>
              <div class="medium-12 large-6 cell">
                <label>Foto:
                    {{ form.avatar }}
                </label>
              </div>
              <div class="cell">
                <button type="submit" class="success button">Registrar</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}




