{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ empleado.first_name}} {{ empleado.last_name}}
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-4 card" style="width: 300px; margin-top: 10px;">
            <div class="card-divider">
              {{empleado.get_job_display}}
            </div>
            
            {% if empleado.avatar %}
                <img src="{{empleado.avatar.url}}">
            {% else %}
                <img src="{% static 'img/imagen3.jpg' %}">
            {% endif %}
            <div class="card-section">
              <h4>{{ empleado.first_name}} {{ empleado.last_name}}</h4>
              <p>{{ empleado.departamento.name}}</p>
              <p><span class="label">Habilidades:</span></p>
              <ul class="vertical menu">
                {% for h in empleado.habilidades.all  %}
                  <li>{{h.habilidad}}</li>
                {% endfor %}
              </ul>

            </div>
        </div>
    </div>
</div>
{% endblock content %}